@tailwind base;
@tailwind components;
@tailwind utilities;

/* #141B39  darkblue*/
/* #c89210  gold*/

/* @layer base {
  @font-face {
    font-family: "jopamec", "sans-serif";
    src: url("/fonts/jopamec.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
} */
